body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

header{
  height: 20%;
}

main{
  height: 60%;
}

header, main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer{
  height: 20%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 90%;
  width: 60%;
  justify-self: center;
}

.grid-square{
  border-style: solid;
  border-color: rgb(63, 63, 63);
}

.enemy-board:hover{
  background-color: green;
}

.score{
  display:grid;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}
